h1
{width: 120%;
margin: 0px;
font-family: georgia;
font-size: 30px;
line-height: 2.0em;
}



body
{
	width: 900px;
	margin: 30px auto;
	font-family: georgia;
	font-size: 16px;
	line-height: 1.4em;
}

img {
margin-top: 10px;
width:40%;
float:right;
margin: 10px;
}
