
h1
{width: 1000px;
margin: 5px auto;
font-family: helvetica;
font-size: 30px;
line-height: 2.0em;
color:0099CC
}

h2
{width: 1000px;
	margin: 5px auto;
	font-family: arial;
	font-size: 20px;
	line-height: 1.4em;
	}



body
{
	width: 1000px;
	margin: 5px auto;
	font-family: arial;
	font-size: 15px;
	line-height: 1.4em;

}

